In [1]:
import pandas as pd
import numpy as np
from pct.tree.heuristic.Heuristic import Heuristic5
from pct.tree.heuristic.NumericHeuristicCopy1 import NumericHeuristic5
from pct.tree.splitter.splitterCopy1 import Splitter
from pct.tree.tree import Tree
#from pct.tree.treethreshold import Tree
# from pct.tree.ftest.ftest import FTest

## From YXH's data process

In [3]:

from sklearn.preprocessing import LabelEncoder

# Load the u.data dataset
u_data = pd.read_csv('C:/Users/13447/Desktop/Stats thesis/ml-100k/u.data', sep='\t', header=None, names=['user_id', 'item_id', 'rating', 'timestamp'])

# # # Perform label encoding on user_id and item_id
# user_encoder = LabelEncoder()
# item_encoder = LabelEncoder()

# u_data['user_id'] = user_encoder.fit_transform(u_data['user_id'])
# u_data['item_id'] = item_encoder.fit_transform(u_data['item_id'])

# # # Create the rating matrix
# n_users = u_data['user_id'].nunique()
# n_items = u_data['item_id'].nunique()

# Define the threshold
THRESHOLD = 3  # Ratings above this are "Lovers", below are "Haters"

# Pivot the data
rating_matrix = u_data.pivot(index='user_id', columns='item_id', values='rating').fillna(0)
rating_matrix.index = u_data['user_id'].unique()  # Ensure user_id alignment
rating_matrix.columns = u_data['item_id'].unique()  # Ensure item_id alignment


# Apply threshold classification to the rating matrix (after thresholding)
rating_matrix_thresholded = np.where(rating_matrix > THRESHOLD, 1, np.where(rating_matrix > 0, 0.5, 0))

# Convert numpy array to pandas DataFrame for easier inspection
rating_matrix_thresholded_df = pd.DataFrame(rating_matrix_thresholded)

rating_matrix_thresholded_df.index = u_data['user_id'].unique()  # Ensure user_id alignment
rating_matrix_thresholded_df.columns = u_data['item_id'].unique()  # Ensure item_id alignment

In [5]:
u_data

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [7]:
rating_matrix

,242,302,377,51,346,474,265,465,451,86,...,1594,1626,1645,1659,1682,1674,1640,1637,1630,1641
196,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
936,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
930,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## initiate tree and splitter

In [11]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)


tree = Tree(min_instances=7)
tree.fit(rating_matrix, u_data['rating'], target_weights=None)

‚úÖ Converted x and y to DataFrame
‚úÖ Assigned x and y
‚úÖ Creating target weights...
‚úÖ Identifying numerical and categorical attributes...
‚úÖ Creating Splitter...
Initializing Splitter...
‚úÖ Calling build()...
üå≤ Building predictive clustering tree...
üîç Best item for splitting:  471
üë• Users who rated item 471: 429
‚ù§Ô∏è Lovers: 228
üíî Haters: 201
‚ùì Unknowns: 514
üîÑ Recursively building tree for subsets...
üå≤ Building predictive clustering tree...
üîç Best item for splitting:  231
üë• Users who rated item 231: 91
‚ù§Ô∏è Lovers: 53
üíî Haters: 38
‚ùì Unknowns: 137
üîÑ Recursively building tree for subsets...
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üå≤ Building predictive clustering tree...
üîç Best item for splitting:  264
üë• Users who rated item 264: 131
‚ù§Ô∏è Lovers: 65
üíî Haters: 66
‚ùì Unknowns: 70
üîÑ Recursively building tree for subsets...
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üå≤ Building predictive clustering tree...
üîç Best item for splitting:  412
üë• Users who rated item 412: 83
‚ù§Ô∏è Lovers: 72
üíî Haters: 11
‚ùì Unknowns: 431
üîÑ Recursively building tree for subsets...
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
üçÉ Reached max depth at depth 2. Stopping recursion.
Total Error (Criterion Value): None
‚úÖ Tree built successfully!

In [9]:
tree.print_tree_structure()

Item_ID: 471
Depth: 0
Total_Error: 93848.85858180528
Leaf Node: No
Children:
    Item_ID: 231
    Depth: 1
    Total_Error: 28570.52752870808
    Leaf Node: No
    Children:
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
    Item_ID: 264
    Depth: 1
    Total_Error: 25095.706727140314
    Leaf Node: No
    Children:
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
    Item_ID: 412
    Depth: 1
    Total_Error: 30232.612631818025
    Leaf Node: No
    Children:
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes
        Item_ID: None
        Depth: 2
        Total_Error: None
        Leaf Node: Yes