In [2]:
import sys
sys.path.append('/Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github')

In [3]:

# import pysparnn.cluster_index as ci
# import scipy.sparse
# import os
# import math
import numpy as np
import pandas as pd
import random
from utils import train_test_split, df_to_matrix ,matrix_to_df_2, threshold_interactions_df, matrix_to_df,set_intersection,get_0_and_p_index,set_diff, matrix_to_full_df

!pip install surprise
from surprise import Reader, accuracy
from surprise import SVD
from surprise import Dataset
from collections import Counter
from collections import defaultdict

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

from pct.tree.heuristic.Heuristic import Heuristic5
from pct.tree.heuristic.NumericHeuristic import NumericHeuristic5
from pct.tree.splitter.splitter import Splitter
from pct.tree.tree import Tree

Requirement already satisfied: surprise in /Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/thesis_github/lib/python3.9/site-packages (0.1)
Requirement already satisfied: scikit-surprise in /Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/thesis_github/lib/python3.9/site-packages (from surprise) (1.1.4)
Requirement already satisfied: joblib>=1.2.0 in /Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/thesis_github/lib/python3.9/site-packages (from scikit-surprise->surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/thesis_github/lib/python3.9/site-packages (from scikit-surprise->surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/thesis_github/lib/python3.9/site-packages (from scikit-surprise->surprise) (1.13.1)

In [4]:

my_seed = 7
random.seed(my_seed)
np.random.seed(my_seed)

def load_user_item_matrix(filepath):
    data = []

    with open(filepath, 'r') as f:
        while True:
            user_line = f.readline()
            if not user_line:
                break

            user_line = user_line.strip()
            if '|' not in user_line:
                continue

            user_id, num_ratings = user_line.split('|')
            user_id = int(user_id)
            num_ratings = int(num_ratings)

            for _ in range(num_ratings):
                item_line = f.readline().strip()
                parts = item_line.split('\t')
                if len(parts) < 2:
                    continue
                item_id, score = parts[0], parts[1]
                data.append([user_id, int(item_id), int(score)])

    df = pd.DataFrame(data, columns=['user_id', 'item_id', 'rating'])
    return df

In [5]:

def safe_int(x):
    return int(x) if x != 'None' else 0


def load_track_data(filepath):
    track_data = []
    with open(filepath, 'r') as f:
        for line in f:
            parts = line.strip().split('|')
            track_id = safe_int(parts[0])
            album_id = safe_int(parts[1])
            artist_id = safe_int(parts[2])
            genre_ids = [safe_int(g) for g in parts[3:]] if len(parts) > 3 else []
            track_data.append([track_id, album_id, artist_id, genre_ids])
    return pd.DataFrame(track_data, columns=['track_id', 'album_id', 'artist_id', 'genre_ids'])

def load_album_data(filepath):
    album_data = []
    with open(filepath, 'r') as f:
        for line in f:
            parts = line.strip().split('|')
            album_id = safe_int(parts[0])
            artist_id = safe_int(parts[1])
            genre_ids = [safe_int(g) for g in parts[2:]] if len(parts) > 2 else []
            album_data.append([album_id, artist_id, genre_ids])
    return pd.DataFrame(album_data, columns=['album_id', 'artist_id', 'genre_ids'])


# read artistData2
def load_artist_data(filepath):
    with open(filepath, 'r') as f:
        artist_ids = [int(line.strip()) for line in f]
    return pd.DataFrame(artist_ids, columns=['artist_id'])

# read genreData2
def load_genre_data(filepath):
    with open(filepath, 'r') as f:
        genre_ids = [int(line.strip()) for line in f]
    return pd.DataFrame(genre_ids, columns=['genre_id'])

In [6]:
track_df = load_track_data('/Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/yahoo_data/ydata-ymusic-kddcup-2011-track2/trackData2.txt')
track_df

        track_id  album_id  artist_id                 genre_ids
0              1    106710     281667  [214765, 162234, 155788]
1              2    280977     233685   [131552, 173467, 48505]
2              3     38422     219136    [61215, 201738, 88853]
3              4    119529     166863            [17453, 35389]
4              5     16742     294690    [61215, 34486, 274088]
...          ...       ...        ...                       ...
224036    296100    166516      33011   [274088, 199606, 88853]
224037    296101         0          0                        []
224038    296102    153644     289056  [158282, 139095, 242383]
224039    296105     68336       6613                   [82064]
224040    296110    281202     140302                   [61215]

[224041 rows x 4 columns]

In [7]:
album_df = load_album_data('/Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/yahoo_data/ydata-ymusic-kddcup-2011-track2/albumData2.txt')
album_df

       album_id  artist_id                genre_ids
0             0          0                 [214765]
1             6     228091  [158282, 81520, 242383]
2            19      85028                 [103715]
3            30      16832                  [31567]
4            33      26330         [149962, 209270]
...         ...        ...                      ...
52824    296104     125866                 [158282]
52825    296106     221637           [116130, 9432]
52826    296107          0                  [61215]
52827    296108      93277                  [61215]
52828    296109      84885                 [287681]

[52829 rows x 3 columns]

In [8]:
artist_df = load_artist_data('/Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/yahoo_data/ydata-ymusic-kddcup-2011-track2/artistData2.txt')
artist_df

       artist_id
0             16
1             23
2             35
3             40
4             49
...          ...
18669     295987
18670     296007
18671     296012
18672     296013
18673     296041

[18674 rows x 1 columns]

In [9]:
genre_df = load_genre_data('/Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/yahoo_data/ydata-ymusic-kddcup-2011-track2/genreData2.txt')
genre_df

     genre_id
0         208
1         315
2         642
3        1075
4        1271
..        ...
562    292093
563    293670
564    293688
565    294138
566    294310

[567 rows x 1 columns]

In [10]:
train_path = '/Users/camillecu/Downloads/KUL/master_thesis/master_thesis_github/yahoo_data/ydata-ymusic-kddcup-2011-track2/trainIdx2.txt'
my_seed = 7
random.seed(my_seed)
np.random.seed(my_seed)
train_df = load_user_item_matrix(train_path)

In [20]:
train_df

          user_id  item_id  rating
0               0    28341      90
1               0    51210      90
2               0    79500      90
3               0    82317      90
4               0    98399      90
...           ...      ...     ...
61944401   249011   270557      90
61944402   249011   273574      90
61944403   249011   286938      90
61944404   249011   287681      80
61944405   249011   295381      90

[61944406 rows x 3 columns]

In [21]:
user = 249011
user_df = train_df[train_df['user_id'] == user]
user_df

          user_id  item_id  rating
61944347   249011     2663      90
61944348   249011    11616      90
61944349   249011    11731      80
61944350   249011    17453      80
61944351   249011    28342      80
61944352   249011    28964      80
61944353   249011    36899      90
61944354   249011    54289      80
61944355   249011    62616      80
61944356   249011    66595      90
61944357   249011    69022      90
61944358   249011    73411      90
61944359   249011    77710      90
61944360   249011    85254      90
61944361   249011    89704      90
61944362   249011    92245      90
61944363   249011    92597      90
61944364   249011   101438      80
61944365   249011   111944      90
61944366   249011   114039      90
61944367   249011   115109      90
61944368   249011   119996      90
61944369   249011   131552      80
61944370   249011   138869      90
61944371   249011   141075      90
61944372   249011   150385      80
61944373   249011   152077      90
61944374   249011   154852      90
61944375   249011   158282      80
61944376   249011   162885      90
61944377   249011   166257      90
61944378   249011   171288      90
61944379   249011   172313      80
61944380   249011   173467      80
61944381   249011   176858      80
61944382   249011   180377      90
61944383   249011   181190      90
61944384   249011   182111      80
61944385   249011   185975      90
61944386   249011   190638      80
61944387   249011   200000      90
61944388   249011   206388      90
61944389   249011   206862      90
61944390   249011   210480      90
61944391   249011   211701      90
61944392   249011   218469      80
61944393   249011   242177      90
61944394   249011   242383      80
61944395   249011   243932      80
61944396   249011   244574      90
61944397   249011   244713      80
61944398   249011   251690      90
61944399   249011   252215      80
61944400   249011   263872      80
61944401   249011   270557      90
61944402   249011   273574      90
61944403   249011   286938      90
61944404   249011   287681      80
61944405   249011   295381      90

In [23]:
duplicate_counts = train_df.groupby(['user_id', 'item_id']).size()
duplicates = duplicate_counts[duplicate_counts > 1]

print(f"🔁 Number of duplicated (user_id, item_id) pairs: {len(duplicates)}")
print(duplicates.head())

🔁 Number of duplicated (user_id, item_id) pairs: 0
Series([], dtype: int64)

In [23]:
print(train_df['item_id'].max())      # highest item_id
print(track_df['track_id'].max())     # highest track_id
print(train_df['item_id'].isin(track_df['track_id']).mean())  # proportion to match

print(train_df['item_id'].isin(album_df['album_id']).mean())

print(train_df['item_id'].isin(artist_df['artist_id']).mean())

print(train_df['item_id'].isin(genre_df['genre_id']).mean())

296110
296110
0.4385845107627636
0.1925648621120041
0.3114063600835885
0.05744426704164376

In [25]:
def build_item_metadata(track_df, album_df, artist_df, genre_df):
    rows = []

    # 1. Tracks
    for _, row in track_df.iterrows():
        rows.append({
            'item_id': row['track_id'],
            'item_type': 'track',
            'artist_id': row['artist_id'],
            'genre_ids': row['genre_ids']
        })

    # 2. Albums
    for _, row in album_df.iterrows():
        rows.append({
            'item_id': row['album_id'],
            'item_type': 'album',
            'artist_id': row['artist_id'],
            'genre_ids': row['genre_ids']
        })

    # 3. Artists
    for artist_id in artist_df['artist_id']:
        rows.append({
            'item_id': artist_id,
            'item_type': 'artist',
            'artist_id': artist_id,
            'genre_ids': 0
        })

    # 4. Genres
    for genre_id in genre_df['genre_id']:
        rows.append({
            'item_id': genre_id,
            'item_type': 'genre',
            'artist_id': 0,
            'genre_ids': [genre_id]
        })

    return pd.DataFrame(rows)

In [27]:
item_meta_df = build_item_metadata(track_df, album_df, artist_df, genre_df)
train_with_meta = train_df.merge(item_meta_df, on='item_id', how='left')

train_with_meta

          user_id  item_id  rating item_type  artist_id genre_ids
0               0    28341      90    artist      28341         0
1               0    51210      90    artist      51210         0
2               0    79500      90    artist      79500         0
3               0    82317      90    artist      82317         0
4               0    98399      90    artist      98399         0
...           ...      ...     ...       ...        ...       ...
61944401   249011   270557      90    artist     270557         0
61944402   249011   273574      90    artist     273574         0
61944403   249011   286938      90    artist     286938         0
61944404   249011   287681      80     genre          0  [287681]
61944405   249011   295381      90    artist     295381         0

[61944406 rows x 6 columns]

In [47]:
sampled_users = np.random.choice(train_with_meta['user_id'].unique(), size=10000, replace=False)
user_filtered_df = train_with_meta[train_with_meta['user_id'].isin(sampled_users)]


top_items = (
    user_filtered_df['item_id']
    .value_counts()
    .head(10000)
    .index
)


sample_df = user_filtered_df[user_filtered_df['item_id'].isin(top_items)]

print(f"🎯 Sample shape: {sample_df.shape}")
print(f"👤 Users: {sample_df['user_id'].nunique()}, 🎵 Items: {sample_df['item_id'].nunique()}")

🎯 Sample shape: (1376326, 6)
👤 Users: 9999, 🎵 Items: 10000

In [50]:
# top 1000 item
# item_popularity = train_with_meta['item_id'].value_counts()
# top_items = item_popularity.head(1000).index

# popular_data = train_with_meta[train_with_meta['item_id'].isin(top_items)]

filtered_df = threshold_interactions_df_plus(
    sample_df,
    min_items_per_user=100,
    min_artists_per_user=20,
    min_genres_per_user=10,
    min_users_per_item=100
)

Initial: users = 9999, items = 10000, sparsity = 1.3765%
After item filtering: users = 2429, items = 2452, sparsity = 9.8171%
Final: users = 2302, items = 2452, sparsity = 10.0649%

In [52]:
all_user_ids = sorted(filtered_df['user_id'].unique())
warm_users = all_user_ids[:1151]
cold_users = all_user_ids[1151:]


df_warm = filtered_df[filtered_df['user_id'].isin(warm_users)].copy()
df_cold = filtered_df[filtered_df['user_id'].isin(cold_users)].copy()

In [54]:
matrix_warm, rid_to_idx_warm, idx_to_rid_warm, cid_to_idx, idx_to_cid = df_to_matrix(
    df_warm, "user_id", "item_id", "rating"
)


matrix_cold, rid_to_idx_cold, idx_to_rid_cold, _, _ = df_to_matrix(
    df_cold, "user_id", "item_id", "rating"
)

In [56]:
al, train_cold_K, _ = train_test_split(matrix_cold, 1)


X_cold, test_cold, _ = train_test_split(al, 30)

In [58]:
warm_df = matrix_to_full_df(matrix_warm, idx_to_rid_warm, idx_to_cid)
warm_df

,54289,79500,131753,142632,158282,160158,163546,182111,183119,199606,...,218867,129904,47528,269685,136245,9774,9639,210149,12836,249929
189,80.0,90.0,90.0,90.0,100.0,90.0,90.0,80.0,90.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,80.0,0.0,70.0,0.0,80.0,0.0,0.0,80.0,0.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
449,0.0,90.0,0.0,70.0,30.0,50.0,50.0,0.0,0.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
617,0.0,70.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
791,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125171,0.0,50.0,0.0,90.0,30.0,50.0,30.0,0.0,30.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,70.0,70.0,0.0,0.0,0.0,70.0,0.0
125238,80.0,0.0,0.0,0.0,90.0,0.0,0.0,80.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,18.0

In [60]:
train_copy = train_cold_K.tolil().copy()
cold_df = matrix_to_full_df(train_copy, idx_to_rid_cold, idx_to_cid)
cold_df

,54289,79500,131753,142632,158282,160158,163546,182111,183119,199606,...,218867,129904,47528,269685,136245,9774,9639,210149,12836,249929
125413,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
x_df = pd.concat([warm_df, cold_df], ignore_index=False)
x_df

,54289,79500,131753,142632,158282,160158,163546,182111,183119,199606,...,218867,129904,47528,269685,136245,9774,9639,210149,12836,249929
189,80.0,90.0,90.0,90.0,100.0,90.0,90.0,80.0,90.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,80.0,0.0,70.0,0.0,80.0,0.0,0.0,80.0,0.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
449,0.0,90.0,0.0,70.0,30.0,50.0,50.0,0.0,0.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
617,0.0,70.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
791,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def elicitation_by_tree_path_retrain_depth_warm(
    tree_model_class,
    train,              # lil_matrix: cold users' known ratings (1 item/user, updated over rounds)
    test,               # lil_matrix: cold users' test ratings (30 ratings/user), fixed
    X,                  # lil_matrix: cold users' "hidden" ratings, revealed 1 per round
    matrix_warm,        # lil_matrix: warm users' full ratings
    idx_to_rid_cold,    # cold user index → user_id
    idx_to_rid_warm,    # warm user index → user_id
    idx_to_cid,         # item index → item_id
    iteration=5
):
    """
    Method 2: Retrain tree each round using warm + cold user data.
    Walk i steps for each cold user to reach a node and elicit a new rating.

    Returns:
    - rmse_list: RMSE after each iteration
    - mae_list: MAE after each iteration
    """

    num_users, num_items = train.shape
    train_copy = train.tolil().copy()
    X_copy = X.tolil().copy()
    rmse_list, mae_list = [], []
    cid_to_idx = {v: k for k, v in idx_to_cid.items()}

    # Step 0: Baseline SVD using only cold-start (1 rating per user)
    train_df = matrix_to_df_2(train_copy, idx_to_rid_cold, idx_to_cid)
    reader = Reader(rating_scale=(1, 5))
    algo = SVD()
    trainset = Dataset.load_from_df(train_df[['user_id', 'item_id', 'rating']], reader).build_full_trainset()
    algo.fit(trainset)

    test_df = matrix_to_df_2(test, idx_to_rid_cold, idx_to_cid)
    testset = Dataset.load_from_df(test_df[['user_id', 'item_id', 'rating']], reader).build_full_trainset().build_testset()
    predictions = algo.test(testset)
    rmse_list.append(accuracy.rmse(predictions, verbose=True))
    mae_list.append(accuracy.mae(predictions, verbose=True))
    print("✅ Baseline evaluation complete.")

    for i in range(iteration):
        print(f"\n🔁 Iteration {i+1}/{iteration} (Tree depth = {i+1})")

        # Step 1: Prepare tree training data (warm + updated cold)
        warm_df = matrix_to_full_df(matrix_warm, idx_to_rid_warm, idx_to_cid)
        cold_df = matrix_to_full_df(train_copy, idx_to_rid_cold, idx_to_cid)
        x_df = pd.concat([warm_df, cold_df], ignore_index=False)

        tree_model = tree_model_class(max_depth=i+1, min_instances=5)
        tree_model.fit(x_df, x_df)
        print("🌳 Tree re-trained.")

        # Step 2: Walk tree and elicit a new rating for each cold user
        for u in range(num_users):
            node = tree_model.root
            depth = 0

            while node and not node.is_leaf and node.attribute_name and depth < i:
                item = node.attribute_name
                if item not in cid_to_idx:
                    node = None
                    break
                item_idx = cid_to_idx[item]
                rating = train_copy[u, item_idx]

                if rating >= 81:
                    node = node.children[0]  # Lovers
                elif rating > 0:
                    node = node.children[1]  # Haters
                else:
                    node = node.children[2]  # Unknowns

                depth += 1

            if node is None or node.attribute_name is None:
                continue

            item = node.attribute_name
            if item not in cid_to_idx:
                continue
            item_idx = cid_to_idx[item]
            rating = X_copy[u, item_idx]

            if rating > 0:
                train_copy[u, item_idx] = rating
                X_copy[u, item_idx] = 0

        # Step 3: Evaluate updated cold user SVD model
        train_df = matrix_to_df_2(train_copy, idx_to_rid_cold, idx_to_cid)
        algo = SVD()
        trainset = Dataset.load_from_df(train_df[['user_id', 'item_id', 'rating']], reader).build_full_trainset()
        algo.fit(trainset)

        test_df = matrix_to_df_2(test, idx_to_rid_cold, idx_to_cid)
        testset = Dataset.load_from_df(test_df[['user_id', 'item_id', 'rating']], reader).build_full_trainset().build_testset()
        predictions = algo.test(testset)
        rmse_list.append(accuracy.rmse(predictions, verbose=True))
        mae_list.append(accuracy.mae(predictions, verbose=True))
        print(f"✅ Iteration {i+1} complete.")

    return rmse_list, mae_list

In [ ]:
def elicitation_by_tree_path_retrain_depth_debug(
    tree_model_class,
    train,
    test,
    X,
    matrix_warm,
    idx_to_rid_cold,
    idx_to_cid,
    idx_to_rid_warm,
    iteration=5,
    trace_user_id=None
):
    """
    Method 2 (Debug Version): Retrain tree using warm + updated cold user ratings.
    Includes optional tracing of a specific cold user each round.

    Parameters:
    - tree_model_class: class of the tree model
    - train: lil_matrix of cold user initial ratings
    - test: lil_matrix of cold user test ratings
    - X: lil_matrix of cold user hidden ratings
    - matrix_warm: lil_matrix of warm user full matrix
    - idx_to_rid_cold: dict, index to raw user_id (cold only)
    - idx_to_rid_warm: dict, index to raw user_id (warm only)
    - idx_to_cid: dict, index to raw item_id
    - iteration: number of elicitation rounds
    - trace_user_id: optional int, trace one cold user's ratings over time

    Returns:
    - rmse_list, mae_list
    """

    num_users, num_items = train.shape
    train_copy = train.tolil().copy()
    X_copy = X.tolil().copy()

    rmse_list, mae_list = [], []
    cid_to_idx = {v: k for k, v in idx_to_cid.items()}
    reader = Reader(rating_scale=(1, 5))

    # Prepare test set once
    test_df = matrix_to_df_2(test, idx_to_rid_cold, idx_to_cid)
    test_items = set(test_df['item_id'].unique())
    testset = Dataset.load_from_df(test_df[['user_id', 'item_id', 'rating']], reader).build_full_trainset().build_testset()

    # Step 0: baseline
    train_df = matrix_to_df_2(train_copy, idx_to_rid_cold, idx_to_cid)
    algo = SVD()
    algo.fit(Dataset.load_from_df(train_df[['user_id', 'item_id', 'rating']], reader).build_full_trainset())
    predictions = algo.test(testset)
    rmse_list.append(accuracy.rmse(predictions, verbose=True))
    mae_list.append(accuracy.mae(predictions, verbose=True))
    print("✅ Baseline evaluation complete.")

    for i in range(iteration):
        print(f"\n🔁 Iteration {i+1}/{iteration} (Tree depth = {i+1})")

        # Step 1: retrain tree
        warm_df = matrix_to_full_df(matrix_warm, idx_to_rid_warm, idx_to_cid)
        cold_df = matrix_to_full_df(train_copy, idx_to_rid_cold, idx_to_cid)
        x_df = pd.concat([warm_df, cold_df], ignore_index=True)

        tree_model = tree_model_class(max_depth=i+1, min_instances=5)
        tree_model.fit(x_df, x_df)
        print("🌳 Tree re-trained.")

        added, skipped = 0, 0

        for u in range(num_users):
            node = tree_model.root
            depth = 0

            while node and not node.is_leaf and node.attribute_name and depth < i:
                item = node.attribute_name
                if item not in cid_to_idx:
                    node = None
                    break
                item_idx = cid_to_idx[item]
                rating = train_copy[u, item_idx]

                if rating >= 81:
                    node = node.children[0]
                elif rating > 0:
                    node = node.children[1]
                else:
                    node = node.children[2]
                depth += 1

            if node is None or node.attribute_name is None:
                skipped += 1
                continue

            item = node.attribute_name
            if item not in cid_to_idx:
                skipped += 1
                continue

            item_idx = cid_to_idx[item]
            rating = X_copy[u, item_idx]

            if rating > 0:
                train_copy[u, item_idx] = rating
                X_copy[u, item_idx] = 0
                added += 1
            else:
                skipped += 1

        print(f"📬 New ratings added this iteration: {added}")
        print(f"🚫 Cold users skipped (no valid path/item): {skipped}")
        print(f"📊 SVD training set size (iteration {i+1}): {train_copy.nnz}")
        print(f"✖️ Train/Test item overlap after iteration {i+1}: "
              f"{len(set(test_df['item_id'].unique()) & set(train_df['item_id'].unique()))} / {len(set(test_df['item_id'].unique()))}")

        # Step 2: retrain SVD
        train_df = matrix_to_df_2(train_copy, idx_to_rid_cold, idx_to_cid)
        algo = SVD()
        algo.fit(Dataset.load_from_df(train_df[['user_id', 'item_id', 'rating']], reader).build_full_trainset())
        predictions = algo.test(testset)

        rmse_list.append(accuracy.rmse(predictions, verbose=True))
        mae_list.append(accuracy.mae(predictions, verbose=True))
        print(f"✅ Iteration {i+1} complete.")

        # Step 3: trace a specific user (optional)
        if trace_user_id is not None:
            # Find corresponding internal row index
            target_idx = None
            for idx, uid in idx_to_rid_cold.items():
                if uid == trace_user_id:
                    target_idx = idx
                    break

            if target_idx is not None:
                user_ratings = []
                for item_idx in range(num_items):
                    r = train_copy[target_idx, item_idx]
                    if r > 0:
                        user_ratings.append((idx_to_cid[item_idx], r))
                user_df = pd.DataFrame(user_ratings, columns=['item_id', 'rating'])
                user_df.insert(0, 'user_id', trace_user_id)
                print(f"\n🔍 Ratings for cold user ID {trace_user_id} after iteration {i+1}:")
                display(user_df.sort_values('item_id').reset_index(drop=True))

    return rmse_list, mae_list

In [76]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

elicitation_by_tree_path_retrain_depth_warm(
    tree_model_class=Tree,
    train=train_cold_K,
    test=test_cold,
    X=X_cold,
    matrix_warm=matrix_warm,
    idx_to_rid_cold=idx_to_rid_cold,
    idx_to_rid_warm=idx_to_rid_warm,
    idx_to_cid=idx_to_cid,
    iteration=3
)

RMSE: 70.8907
MAE:  67.0753
✅ Baseline evaluation complete.

🔁 Iteration 1/3 (Tree depth = 1)
Initializing Splitter...
✅ Tree built successfully!
🌳 Tree re-trained.
RMSE: 70.8906
MAE:  67.0751
✅ Iteration 1 complete.

🔁 Iteration 2/3 (Tree depth = 2)
Initializing Splitter...
✅ Tree built successfully!
🌳 Tree re-trained.
RMSE: 70.8908
MAE:  67.0754
✅ Iteration 2 complete.

🔁 Iteration 3/3 (Tree depth = 3)
Initializing Splitter...
✅ Tree built successfully!
🌳 Tree re-trained.
RMSE: 70.8909
MAE:  67.0756
✅ Iteration 3 complete.

([70.89072248739015, 70.89057746676065, 70.89076593426178, 70.89091328144978],
 [67.07532264845908, 67.07514004404904, 67.07541392078694, 67.0755654978121])

In [64]:
def i_variance(matirx):
    c = matrix.copy()
    c_2 = c.power(2)
    E_2 = c_2.mean(0)
    E = c.mean(0)
    v = E_2 - np.sqrt(E)
    return (np.asarray(v)).flatten()

def i_random(matirx):
    c = matrix.copy()
    c_2 = c.power(2)
    E_2 = c_2.mean(0)
    E = c.mean(0)
    v = E_2 - np.sqrt(E)
    return (np.asarray(v)).flatten()
    
def i_entropy(matirx):
    entropy = []
    for item in range(0, matirx.shape[1]):
        ratings = matirx.getcol(item).data
        count_r = Counter(ratings)
        len_rating = len(ratings)
        ent = 0
        for c in count_r:
            ent -= (count_r[c]/len_rating)*math.log(count_r[c]/len_rating)
        entropy.append(ent)
    return (np.asarray(entropy))

def i_entropy_0(matirx):
    entropy = []
    c_all = matirx.shape[0]
    for item in range(0, matirx.shape[1]):
        ratings = matirx.getcol(item).data
        count_r = Counter(ratings)
        count_r[0] = c_all - matirx.getcol(item).count_nonzero()
        ent = 0
        for c in count_r:
            ent -= (count_r[c]/c_all)*math.log(count_r[c]/c_all)
        entropy.append(ent)
    return (np.asarray(entropy))

def i_pop(matrix):
    popularity = []
    for item in range(0, matrix.shape[1]):
        popularity.append(matrix.getcol(item).count_nonzero())
        
    return (np.asarray(popularity))

def log_pop_entropy(matrix):
    entropy = i_entropy(matrix)
    popularity = i_pop(matrix)
    scores = np.log(popularity) *  entropy 
    return (np.asarray(scores))

def log_pop_entropy0(matrix):
    entropy = i_entropy_0(matrix)
    popularity = i_pop(matrix)
    scores = np.log(popularity) *  entropy 
    return (np.asarray(scores))

def sqrt_pop_variance(matrix):
    variance = i_variance(matrix)
    popularity = i_pop(matrix)
    scores = np.sqrt(popularity) *  variance 
    return (np.asarray(scores))

def helf(matrix):
    log_U = np.log(matrix.shape[0])
    lf = np.log(i_pop(matrix))/log_U
    h = i_entropy(matrix)/np.log(5)
    helf = (2* lf*h)/(lf+h)
    return helf

def helf0(matrix):
    log_U = np.log(matrix.shape[0])
    lf = np.log(i_pop(matrix))/log_U
    h = i_entropy_0(matrix)/np.log(5)
    helf = (2* lf*h)/(lf+h)
    return helf

def i_co_rate(matrix):
    matrix_c = matrix.copy()
    matrix_c[matrix_c != 0] = 1
    c= matrix_c.T.dot(matrix_c)
    c.setdiag(0, k=0)
    
    return np.asarray(c.sum(axis=0))[0]

In [66]:
import scipy.sparse as sp


def elicitation_np_warm(matrix_warm, train,test,X,strategy,iteration,k,positive=False):
    rmse,mae = [],[]
    
    # Performance before elicitation
    train_df = matrix_to_df_2(train,idx_to_rid_cold,idx_to_cid)
    reader = Reader(rating_scale=(1, 5))
    data_r = Dataset.load_from_df(train_df[['user_id', 'item_id', 'rating']], reader)
    data_rr = data_r.build_full_trainset()
    algo = SVD()
    algo.fit(data_rr)
    test_df = matrix_to_df_2(test,idx_to_rid_cold,idx_to_cid)
    test_r = Dataset.load_from_df(test_df[['user_id', 'item_id', 'rating']], reader)
    test_rr = test_r.build_full_trainset()
    predictions= algo.test(test_rr.build_testset())
    rmse.append(accuracy.rmse(predictions))
    mae.append(accuracy.mae(predictions))
    
    c_u_dict = {}
    all_items = list(range(0,train.shape[1]))
    X_copy = (X.tolil()).copy()
    warm_copy = matrix_warm.tolil().copy()
    train_copy = (train.tolil()).copy()
    

    #scores = strategy(train_copy)
    
    for count in range(0,iteration-1):
        x_matrix = sp.vstack([warm_copy, train_copy])
        scores = strategy(x_matrix)
        if positive:
            ranking = np.argsort(-scores)
        else:
            ranking = np.argsort(scores)
        for u in range(0, train.shape[0]):
            if count ==0:
                p_u = train_copy.getrow(u).nonzero()[1]
                c_u = set_diff(all_items,p_u)
                c_u_dict[u] = c_u.copy()
            else:
                c_u = c_u_dict[u].copy()                
          
            ranking_u = ranking[np.in1d(ranking,c_u)]
            topk_u = ranking_u[:k]
            c_u_dict[u] = set_diff(c_u,topk_u)
            px_u = X_copy.getrow(u).nonzero()[1]
            recom = set_intersection(topk_u,px_u)
            for item in recom:                  
                train_copy[u,item] = X[u,item]
                X_copy[u,item] = 0
        train_df = matrix_to_df_2(train_copy,idx_to_rid_cold,idx_to_cid)

        reader = Reader(rating_scale=(1, 5))
        data_r = Dataset.load_from_df(train_df[['user_id', 'item_id', 'rating']], reader)
        data_rr = data_r.build_full_trainset()
        algo.fit(data_rr)
        test_df = matrix_to_df(test,idx_to_rid_cold,idx_to_cid)
        test_r = Dataset.load_from_df(test_df[['user_id', 'item_id', 'rating']], reader)
        test_rr = test_r.build_full_trainset()
        predictions= algo.test(test_rr.build_testset())
        rmse.append(accuracy.rmse(predictions))
        mae.append(accuracy.mae(predictions))
        
        print(count+1)
    return rmse,mae

In [68]:
entropy0 = elicitation_np_warm(
    matrix_warm=matrix_warm,
    train=train_cold_K,
    test=test_cold,
    X=X_cold,
    strategy=i_entropy_0,
    iteration=9,
    k=1,
    positive=False
)

RMSE: 70.8906
MAE:  67.0752
RMSE: 70.9209
MAE:  67.1317
1
RMSE: 70.9209
MAE:  67.1317
2
RMSE: 70.9209
MAE:  67.1317
3
RMSE: 70.9209
MAE:  67.1317
4
RMSE: 70.9210
MAE:  67.1318
5
RMSE: 70.9209
MAE:  67.1317
6
RMSE: 70.9210
MAE:  67.1318
7
RMSE: 70.9209
MAE:  67.1317
8

In [31]:
matrix, rid_to_idx, idx_to_rid, cid_to_idx, idx_to_cid = df_to_matrix(
    sample_df, "user_id", "item_id", "rating"
)

train_copy = (matrix.tolil()).copy()
x_df = matrix_to_full_df(train_copy, idx_to_rid, idx_to_cid)

x_df

,36688,94019,125200,132285,197089,245668,42375,226836,3091,109024,...,20475,15124,247050,270718,224694,77855,5551,7828,270369,286359
17,90.0,90.0,90.0,90.0,90.0,84.0,37.0,51.0,70.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,90.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158,90.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,90.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248770,0.0,0.0,73.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248905,70.0,0.0,50.0,90.0,50.0,0.0,70.0,50.0,70.0,50.0,...,0.0,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0
248945,90.0,0.0,88.0,70.0,0.0,0.0,96.0,80.0,80.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0
248957,50.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,70.0,0.0,...,0.0,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0

In [33]:
train_copy

<5000x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 1169398 stored elements in List of Lists format>

In [67]:
# Step 1: top 1000 item
item_popularity = train_with_meta['item_id'].value_counts()
top_items = item_popularity.head(1000).index


# Step 2:  filter top 1000 items subset
item_subset = train_with_meta[train_with_meta['item_id'].isin(top_items)]

# Step 3: from top1000 item select top 50 artists snd top 50 genres
artist_popularity = item_subset[item_subset['artist_id'] != 0]['artist_id'].value_counts()
top_artists = artist_popularity.head(50).index

genre_popularity = item_subset[item_subset['genre_id'] != 0]['genre_id'].value_counts()
top_genres = genre_popularity.head(50).index

# Step 4: popular total
popular_data = item_subset[
    item_subset['artist_id'].isin(top_artists) &
    item_subset['genre_id'].isin(top_genres)
]


filtered_df = threshold_interactions_df_plus(
    popular_data,
    min_items_per_user=100,
    min_artists_per_user=20,
    min_genres_per_user=10,
    min_users_per_item=100
)

🔁 Dropped duplicates: 6818879 rows removed
Initial: users = 106094, items = 261, sparsity = 4.3084%
After item filtering: users = 601, items = 259, sparsity = 48.6776%
Final: users = 444, items = 259, sparsity = 50.3200%

In [50]:
item_popularity = train_df['item_id'].value_counts()
top_items = item_popularity.head(1000).index
popular_data = train_df[train_df['item_id'].isin(top_items)]


filtered_data = threshold_interactions_df(popular_data, 'user_id', 'item_id', 100, 100)


matrix, rid_to_idx, idx_to_rid, cid_to_idx, idx_to_cid = df_to_matrix(
    filtered_data, "user_id", "item_id", "rating"
)

Starting interactions info
Number of rows: 248481
Number of cols: 1000
Sparsity: 6.606%
Ending interactions info
Number of rows: 45374
Number of columns: 1000
Sparsity: 18.366%

In [52]:
# split to train, X and eval sets
al,train,_ = train_test_split(matrix,1)

# ml 1M
X_matrix,test,_ = train_test_split(al,30)

In [54]:
train_copy = (train.tolil()).copy()
x_df = matrix_to_full_df(train_copy, idx_to_rid, idx_to_cid)
x_df= x_df.sort_index(axis=1).sort_index(axis=0) 
x_df

,778,830,1589,1842,1997,2488,2538,2663,2972,3091,...,294006,294094,294545,294690,294826,295002,295381,295474,295809,295856
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248989,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0